@import "tailwindcss";
@import "@primeira-fila/shared/src/styles/globals.css";
@source "../../../../packages/shared";

@theme inline {
  --font-sans: var(--pf-font-sans);
  --font-mono: var(--pf-font-mono);
}

body {
  font-family: var(--pf-font-sans);
  min-height: 100vh;
}